header{
    justify-content: center;
    font-family: cursive;
    background-color:rosybrown;
    width: 100%;
    text-align: center;
    height: 150px;
    align-items: center;
    display: flex;
    font-size: 40px;
    color: black;

}






