.card{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    width: 25%;
    padding: 20px;
    background-color: beige;
    margin-top: 35px;   
}

p {
    font-family:Arial, Helvetica, sans-serif

}